MONGODB_URL = mongodb+srv://Rohi:Gamer_13@cluster0.nistphz.mongodb.net/new-blogs?retryWrites=true&w=majority&appName=Cluster0
SECRET_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpZCI6IjY2MWJlODMwNmQwNmE2NDI0YjlkNGY4MCIsImVtYWlsIjoicm9oaWdlZGRhbTBAZ21haWwuY29tIiwiaWF0IjoxNzEzMTE2ODg2LCJleHAiOjE3MTMxMjA0ODZ9.C-Wq0gBqRBUe8PkxzzFMZS6eRF8zPXecL_PtWb5xHTE
PORT=5172